*{
   font-family: "Poppins", sans-serif;
  font-weight: 600;
   border: 0px;
   padding: 0px;
   
   margin: 0px;
   background-color:none;
   scroll-behavior: smooth;
   text-decoration: none;
   transition: 2s linear;
    
}
body {
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}

.background-image {
   background: url('img/food.png.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   filter: brightness(30%);
}
header{
    position: sticky;
    background-color:  rgb(47, 46, 46);
    padding-right: 0;
 }
 
 nav{
    display: flex;
   height: 75%;
  align-content: space-around;
    justify-content: space-around;
 
 }
 .left{ 
  position: relative;
 left: 10px;
  top: 5px;
 
 }
  .left #logos{
    width: 60px;
    height: 60px;
 mix-blend-mode:normal;
  }
 
  ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    position: relative;
    top: 10px;
 }
 ul a{
    padding: 8px 10px;
   
    font-size: 20px;
    color: lemonchiffon;
 }
 #search {
  position: relative;
  top: 10px;
  left: 10px;
 
  
 }
 .right{ 
  position: relative;
 top:10px;
 
 }
 
 .call{
 background-color:#ff0000;
 
 text-transform: uppercase;
 text-decoration:none;
 font-size: 20px;
 position: relative;
 right: 20px;
 border: 2px solid paleturquoise;
 
 }
 
 .call a{
    text-decoration: none;
    color: lemonchiffon;
 }
footer{
    font-size: 400;
    background-color: brown;
}
.privacy{
    color: black;
    font-weight: bold;
}
#book_table{
   position: absolute;
   top: 30%;
   left:50%;
   border: 2px solid lightcyan;
} 
#booking_form{
   display: block;
   
   
}